* {
  box-sizing: border-box;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 20px;
  background: white;
  color: black;
  font-family: "Helvetica";
  font-weight: lighter;
}
body em {
  font-style: normal;
  text-shadow: 0 0 1px grey;
}
body a {
  font-weight: bold;
}

header {
  display: none;
  position: sticky;
  background-color: black;
  opacity: 0.8;
  top: 0px;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

main {
  max-width: 1640px;
  margin: auto;
}

h1, h2, h3 {
  display: none;
}

p {
  font-size: 1.5em;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  text-align: justify;
}

.hidden {
  display: none;
}

.hiddenmobile {
  display: none;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content1-3 {
  flex-basis: 33.3%;
  display: flex;
  justify-content: center;
}
.content1-3 img {
  margin: 0;
  padding: 0;
  max-width: 50%;
  height: 90%;
}
.content1-3 p {
  margin: 30px 50px;
}

.content2-3 {
  flex-basis: 66.6%;
  display: flex;
  justify-content: end;
}
.content2-3 img {
  margin: 0;
  padding: 0;
  max-width: 50%;
  height: auto;
}

.content2-3pic {
  flex-basis: 66.6%;
  display: flex;
  justify-content: center;
}
.content2-3pic img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  margin-top: 0;
  padding: 10px;
  color: white;
  display: none;
  flex-direction: column;
  background: black;
  text-align: center;
}
footer p {
  margin-top: 0;
}
footer a {
  color: white;
  font-family: "Kalam", cursive;
}
footer img {
  margin-top: 0;
  height: 50px;
  width: auto;
  background: white;
  padding: 8px;
  border-radius: 20px;
}
footer #footicons {
  display: flex;
  padding: 0;
  justify-content: center;
}
footer #footicons img {
  width: 50px;
  margin: 10px 20px 10px 20px;
}

#footlinks {
  display: flex;
  flex-direction: column;
}
#footlinks a {
  font-size: 0.9em;
  font-weight: 100;
  color: white;
  margin-top: 20px;
}

@media screen and (max-width: 1280px) {
  header {
    position: sticky;
    background: black;
    height: 80px;
    padding: 10px 20%;
  }
  .sidenav {
    top: 20px;
    left: auto;
    height: 30px;
    width: 250px;
    width: 100%;
    background-color: transparent;
    transition: left 0.5s ease;
    padding-top: 0;
  }
  .sidenav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .sidenav a {
    padding: 8px 8px 8px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    font-size: 0.9em;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #111;
  }
  .sidenav a:visited {
    color: white;
  }
  body {
    margin: 0;
    padding: 0;
    min-width: 380px;
    box-shadow: 0 0 1em #D9D9D9;
  }
  main {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  main p {
    text-align: center;
    margin: 0 5px;
  }
  .burger-icon span, .sidenav .close {
    display: none;
  }
  .hiddenmobile {
    display: block;
  }
  footer {
    box-shadow: 0px 0px 10px darkgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  footer img {
    margin: 10px 20px 10px 20px;
  }
  footer a, footer p {
    margin-top: 0px;
  }
}/*# sourceMappingURL=general.css.map */