* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  min-width: 380px;
  background: rgb(250, 250, 250);
  color: black;
  font-family: "Kalam", cursive;
  font-weight: lighter;
}
body em {
  text-shadow: 0 0 1px grey;
}
body a {
  font-weight: bold;
  font-family: "Kalam", cursive;
}

header {
  display: none;
  position: sticky;
  background-color: black;
  opacity: 0.8;
  top: 0px;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

h1, h2, h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: black;
}

h1 {
  font-size: 1.6em;
  letter-spacing: 0.1em;
  margin-top: 40px;
}

h2 {
  font-size: 1.1em;
}

p {
  font-size: 0.9em;
}

.traithorizon {
  display: inline-block;
  border-top: 0.5px solid grey;
  width: 70px;
  margin: 10px 10px 3px 10px;
}

.italic {
  font-style: italic;
  letter-spacing: 0.1em;
}

.txtjustify {
  text-align: justify;
}

#welcometext {
  margin: 40px 9%;
  text-align: justify;
}

.mini {
  display: inline !important;
  width: 40px !important;
  margin: 0 !important;
  background: transparent !important;
  border: solid 1px grey !important;
  border-radius: 10px;
  color: black;
  font-family: Arial;
  font-size: 1em;
  font-weight: 100;
  padding: 5px;
  text-align: center;
  background: white;
}

.hidden {
  display: none;
}

.hiddenmobile {
  display: none;
}

.times {
  font-family: "Times New Roman", Times, serif;
}

img {
  margin-top: 50px;
  width: 100%;
}

.paragraph {
  margin: 50px 30px 0 30px;
}
.paragraph p {
  color: rgb(102, 102, 102);
  margin: 40px 10px;
  line-height: 2em;
}

.white {
  background-color: white;
  margin: -80px 33% 0 33%;
  height: 80px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.white p {
  margin: 0;
  padding: 0;
}
.white button {
  width: 60%;
  color: black;
  background: white;
  border: solid 1px black;
}

#nosservices {
  margin-top: 40px;
}

.listing {
  display: flex;
  flex-direction: column;
}

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure img {
  width: 30px;
}

figcaption {
  width: 90%;
  max-width: 480px;
}
figcaption h4 {
  text-align: center;
}

.hes-gallery {
  display: flex;
  flex-wrap: wrap;
}
.hes-gallery img {
  margin: 5px;
  width: auto;
  min-width: 200px;
  max-width: 300px;
}

main {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
main p {
  text-align: center;
  margin: 0 5px;
}

footer {
  margin-top: 0;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  background: black;
  text-align: center;
}
footer p {
  margin-top: 0;
}
footer a {
  color: white;
  font-family: "Kalam", cursive;
}
footer img {
  margin-top: 0;
  height: 50px;
  width: auto;
  background: white;
  padding: 8px;
  border-radius: 20px;
}
footer #footicons {
  display: flex;
  padding: 0;
  justify-content: center;
}
footer #footicons img {
  width: 50px;
  margin: 10px 20px 10px 20px;
}

#footlinks {
  display: flex;
  flex-direction: column;
}
#footlinks a {
  font-size: 0.9em;
  font-weight: 100;
  color: white;
  margin-top: 20px;
}

#copyright {
  margin-top: 20px;
}

@media screen and (max-width: 1280px) {
  header {
    position: sticky;
    background: black;
    height: 80px;
    padding: 10px 20%;
  }
  .sidenav {
    top: 20px;
    left: auto;
    height: 30px;
    width: 250px;
    width: 100%;
    background-color: transparent;
    transition: left 0.5s ease;
    padding-top: 0;
  }
  .sidenav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .sidenav a {
    padding: 8px 8px 8px 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    font-size: 0.9em;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #111;
  }
  .sidenav a:visited {
    color: white;
  }
  body {
    margin: auto;
    box-shadow: 0 0 1em #D9D9D9;
  }
  main {
    max-width: 1000px;
    margin: auto;
  }
  .burger-icon span, .sidenav .close {
    display: none;
  }
  .hiddenmobile {
    display: block;
  }
  #intro {
    margin-top: 38px;
  }
  #welcometext {
    margin: 40px 9%;
    text-align: center;
  }
  .white {
    margin: -270px auto 90px auto;
    padding: 10px;
    min-height: 250px;
    height: auto;
    width: 30%;
    max-width: none;
  }
  .white button {
    width: 200px;
  }
  .listing {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  figcaption {
    max-width: 290px;
  }
  #dispo {
    display: none;
  }
  #nosservices {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #nosservices figure {
    width: 300px;
  }
  #gmaps {
    height: 600px;
  }
  footer {
    box-shadow: 0px 0px 10px darkgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  footer img {
    margin: 10px 20px 10px 20px;
  }
  footer a, footer p {
    margin-top: 0px;
  }
}/*# sourceMappingURL=general.css.map */