@import "./variables";
//@import "./menu_burger";
//@import "./animations";

// general, puis Accueil, prix, galerie, infos

*{
    box-sizing: border-box;
    margin: 10px;   
}
a{
    text-decoration: none;
    color: $colorprimary;        
}
body
{
    margin:20px;      
    background: $colorbackground;
    color: $colorprimary;    
    font-family: 'Helvetica';
    font-weight: lighter;    
    & em{
        font-style:normal;         
        text-shadow: 0 0 1px $textshadow;
    }
    & a {
        font-weight: bold;        
    }
}
header{    
    display: none;
    position:sticky;
    background-color: black;
    opacity: 0.8;    
    top:0px;
    padding: 0 10px 0 10px;    
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
main{
    max-width: 1640px;
    margin: auto;    
}
h1, h2, h3{
    display: none;
}
p{
    font-size: 1.6em;
    letter-spacing : 1.5px;
    font-weight: 400;
    //word-spacing : x;
    line-height: 1.5em;
    text-align: justify;
    color: $colorprimary;
}
.hidden{
    display: none;
}
.hiddenmobile{
    display: none;
}
.content{
    display: flex;
    flex-direction:row;
    width: 100%;
}
.content1-3{
    flex-basis: 33.3%;
    display: flex;    
    justify-content: center;
    & img {
        margin:0;
        padding: 0;
        max-width: 50%;
        height: 90%;
    }
    & p{
        margin: 30px 50px;        
    }
}
.content2-3{
    flex-basis: 66.6%;    
    display: flex;
    justify-content: end;
    & img {
        margin:0;
        padding: 0;
        max-width: 50%;
        height: auto;
    }
}
.content2-3pic{
    flex-basis: 66.6%;    
    display: flex;
    flex-direction: row;
    justify-content: center; 
    & img {
        max-width: 100%;
        object-fit: contain;
    }    
}
.content2-3pictures{    
    flex-basis: 66.6%;    
    display: flex;
    align-items: stretch; //tailles alignées sur la plus grande
    justify-content: end;
    & :nth-child(1){
        flex: 2 1 0;
    }
    & :nth-child(2){
        flex: 3 1 0;        
    }
    & :nth-child(3){
        flex: 2 1 0;
    }
    & img {
        width: 300px;
    }    
}
.separation{
    height: 100px;
}
.content1-3text{
    flex-basis: 66.6%;
    //display: flex;    
    & p{
        margin: 30px 50px;
    }
}
.content2-3text{
    flex-basis: 33.3%;
    display: flex;    
    justify-content: end;
    & img {
        margin:0;
        padding: 0;
        max-width: 100%;
        //height: 300px;
    }
}
#plan1{
    & img{
        max-width: 800px;
    }
}
#plan2{
    & img{
        max-width: 400px;
    }
}
footer{
    margin-top: 0;
    padding: 10px;
    color: white;
    display: none;
    flex-direction: column;
    background: black;
    text-align: center;    
    & p {
        margin-top: 0;
    }
    & a {
        color: white;
        font-family: 'Kalam', cursive;
        
    }
    & img{
        margin-top: 0;
        height: 50px;
        width: auto;
        background: white;
        padding: 8px;
        border-radius: 20px;
    }
    & #footicons{
        display: flex;
        padding: 0;
        justify-content:center;
        & img{
            width: 50px;
            margin: 10px 20px 10px 20px;
        }
    }    
}
#footlinks{    
    display: flex;
    flex-direction: column;
    & a{        
        font-size: 0.9em;
        font-weight: 100;
        color: white;
        margin-top: 20px;
    }
}

// le responsive
@import "./responsive";

