@import "./variables";
//@import "./menu_burger";
//@import "./animations";

// general, puis Accueil, prix, galerie, infos

*{
    box-sizing: border-box;     
}
a{
    text-decoration: none;
    color: $colorprimary;        
}
body
{
    margin:10px;      
    background: $colorbackground;
    color: $colorprimary;    
    font-family: 'Helvetica';
    font-weight: lighter;    
    & em{
        font-style:normal;         
        text-shadow: 0 0 1px $textshadow;
    }
    & a {
        font-weight: bold;        
    }
}
header{    
    display: none;
    position:sticky;
    background-color: black;
    opacity: 0.8;    
    top:0px;
    padding: 0 10px 0 10px;    
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
main{
    max-width: 95%;
    margin: auto;    
}
h1, h2, h3{
    display: none;
}
p{
    font-size: 1em;
}
.paraphstandard{
    text-align: justify;
}    
.hidden{
    display: none;
}
.hiddenmobile{
    display: none;
}
img {
    margin:0;
    padding: 0;
    width: 200px;
    height: auto;
}

.content{
    display: flex;
    flex-direction:row;
    width: 100%;
}
.content1-3{
    flex-basis: 33.3%;
    display: flex;
    justify-content: center;
}
.content2-3{
    flex-basis: 66.6%;
    background-color: cyan;
    display: flex;
    justify-content: end;
}
.paragraph{
    margin: 50px 30px 0 30px;
    & p{
        color: $colorgreytext1;
        margin: 40px 10px;
        line-height: 2em;
    }
}
footer{
    margin-top: 0;
    padding: 10px;
    color: white;
    display: none;
    flex-direction: column;
    background: black;
    text-align: center;    
    & p {
        margin-top: 0;
    }
    & a {
        color: white;
        font-family: 'Kalam', cursive;
        
    }
    & img{
        margin-top: 0;
        height: 50px;
        width: auto;
        background: white;
        padding: 8px;
        border-radius: 20px;
    }
    & #footicons{
        display: flex;
        padding: 0;
        justify-content:center;
        & img{
            width: 50px;
            margin: 10px 20px 10px 20px;
        }
    }    
}
#footlinks{    
    display: flex;
    flex-direction: column;
    & a{        
        font-size: 0.9em;
        font-weight: 100;
        color: white;
        margin-top: 20px;
    }
}

// le responsive
@import "./responsive";

